In [3]:
install.packages("pacman")
library(pacman)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
p_load(tidyverse,tidymodels)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘shape’, ‘future.apply’, ‘numDeriv’, ‘progressr’, ‘SQUAREM’, ‘Rcpp’, ‘diagram’, ‘lava’, ‘listenv’, ‘parallelly’, ‘prodlim’, ‘future’, ‘warp’, ‘iterators’, ‘lhs’, ‘DiceDesign’, ‘patchwork’, ‘globals’, ‘clock’, ‘gower’, ‘ipred’, ‘timeDate’, ‘furrr’, ‘slider’, ‘foreach’, ‘GPfit’, ‘modelenv’, ‘dials’, ‘hardhat’, ‘infer’, ‘modeldata’, ‘parsnip’, ‘recipes’, ‘rsample’, ‘tune’, ‘workflows’, ‘workflowsets’, ‘yardstick’



tidymodels installed

Selección de variables y cambio de nombre

Base de datos train_hogares

In [19]:
train_hogares <- read.csv('/content/train_hogares.csv')
train_hogares <- train_hogares %>% select('id', 'Clase', 'Dominio', 'P5000', 'P5010', 'P5090', 'P5100', 'P5130', 'P5140', 'Nper', 'Npersug', 'Ingtotug', 'Ingtotugarr', 'Ingpcug', 'Li', 'Lp', 'Pobre', 'Indigente')
train_hogares <- train_hogares %>% rename(cuartos = P5000, cuartosHab = P5010, Propiedad = P5090, Amort = P5100, ArriendoEst = P5130, Arriendo = P5140)
glimpse(train_hogares)

Rows: 164,960
Columns: 18
$ id          <chr> "8d0193e328305a042001a35f", "cf7491d7f2cc9c216bd009e7", "d…
$ Clase       <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ Dominio     <chr> "MEDELLIN", "MEDELLIN", "MEDELLIN", "MEDELLIN", "MEDELLIN"…
$ cuartos     <int> 4, 5, 4, 3, 4, 3, 4, 4, 4, 4, 1, 1, 4, 3, 3, 3, 3, 4, 4, 4…
$ cuartosHab  <int> 2, 4, 2, 1, 3, 2, 1, 3, 3, 1, 1, 1, 3, 1, 2, 1, 2, 3, 1, 3…
$ Propiedad   <int> 1, 3, 1, 1, 3, 1, 1, 1, 1, 3, 3, 3, 1, 1, 3, 4, 3, 1, 4, 1…
$ Amort       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ ArriendoEst <dbl> 400000, NA, 700000, 450000, NA, 400000, 700000, 750000, 60…
$ Arriendo    <dbl> NA, 250000, NA, NA, 500000, NA, NA, NA, NA, 270000, 350000…
$ Nper        <int> 5, 4, 3, 1, 5, 3, 1, 4, 4, 2, 1, 1, 3, 2, 3, 1, 3, 5, 2, 3…
$ Npersug     <int> 5, 4, 3, 1, 5, 3, 1, 4, 4, 2, 1, 1, 3, 2, 3, 1, 3, 5, 2, 3…
$ Ingtotug    <dbl> 2508330.3, 645000.0, 5300000.0, 2000000.0, 1260000.0, 2372…
$ Ingtotugarr <dbl> 2908330.3, 645000.0, 6000000.0, 2450000.0, 1260000.0, 2772…
$ Ingpcug     <dbl> 581666.1, 161250.0, 2000000.0, 2450000.0, 252000.0, 924037…
$ Li          <dbl> 122809.5, 122809.5, 122809.5, 122809.5, 122809.5, 122809.5…
$ Lp          <dbl> 289878.2, 289878.2, 289878.2, 289878.2, 289878.2, 289878.2…
$ Pobre       <int> 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ Indigente   <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…

Base de datos test_hogares

In [20]:
test_hogares <- read.csv('/content/test_hogares.csv')
test_hogares <- test_hogares %>% select('id', 'Clase', 'Dominio', 'P5000', 'P5010', 'P5090', 'P5100', 'P5130', 'P5140', 'Nper', 'Npersug', 'Li', 'Lp')
test_hogares <- test_hogares %>% rename(cuartos = P5000, cuartosHab = P5010, Propiedad = P5090, Amort = P5100, ArriendoEst = P5130, Arriendo = P5140)
glimpse(test_hogares)

Rows: 66,168
Columns: 13
$ id          <chr> "2a7ddc2779480d7f19834953", "a0c2e751e582fd49d564f308", "5…
$ Clase       <int> 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1…
$ Dominio     <chr> "SANTA MARTA", "SANTA MARTA", "RURAL", "MEDELLIN", "MEDELL…
$ cuartos     <int> 4, 4, 3, 4, 5, 5, 4, 4, 4, 3, 3, 4, 4, 4, 3, 3, 4, 3, 3, 6…
$ cuartosHab  <int> 3, 3, 1, 3, 2, 3, 2, 2, 3, 2, 2, 3, 1, 3, 1, 2, 2, 1, 1, 2…
$ Propiedad   <int> 1, 4, 1, 1, 2, 1, 1, 1, 3, 3, 1, 3, 1, 3, 3, 4, 3, 1, 3, 4…
$ Amort       <dbl> NA, NA, NA, NA, 1800000, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ ArriendoEst <dbl> 400000, 500000, 250000, 600000, 2000000, 550000, 350000, 6…
$ Arriendo    <dbl> NA, NA, NA, NA, NA, NA, NA, NA, 900000, 500000, NA, 550000…
$ Nper        <int> 5, 6, 2, 5, 2, 3, 3, 3, 3, 4, 4, 6, 1, 7, 3, 4, 3, 2, 2, 2…
$ Npersug     <int> 5, 6, 2, 5, 2, 3, 3, 3, 3, 4, 4, 6, 1, 7, 3, 4, 3, 2, 2, 2…
$ Li          <dbl> 121449.45, 121449.45, 100763.34, 122251.78, 123664.36, 119…
$ Lp          <dbl> 275594.0, 275594.0, 170886.4, 294093.7, 293293.4, 283609.8…

Base de datos train_personas

In [21]:
train_personas <- read.csv('/content/train_personas.csv')
train_personas <- train_personas %>% select('id', 'P6020', 'P6040', 'P6050', 'P6090', 'P6100', 'P6210', 'P6430', 'P6585s1', 'P6585s2', 'P6585s3', 'P6585s4', 'P6630s4', 'P6630s6', 'P6800', 'P6870', 'P6920', 'P7090', 'P7495', 'P7510s3', 'P7510s5', 'Pet', 'Oc', 'Des', 'Ina', 'Ingtot')
train_personas <- train_personas %>% rename(Sexo = P6020, Edad = P6040, JefeHogar = P6050, FormalSalud = P6090, SeguridadSocial = P6100, maxEducLevel = P6210, relab = P6430, SubsAlimen = P6585s1, SubsTrans = P6585s2, SubsFamil = P6585s3, SubsEducativo = P6585s4, Viaticos = P6630s4, Bonificaciones = P6630s6, hoursWorkUsual = P6800, sizeFirm = P6870, FormalPension = P6920, MasHoras = P7090, PagosExtraPensArri = P7495, Ayuda = P7510s3, GanancFinan = P7510s5, EdadTrabajo = Pet, Ocu = Oc, Desocu = Des, Inact = Ina, Ingreso = Ingtot)
glimpse(train_personas)

Rows: 543,109
Columns: 26
$ id                 <chr> "8d0193e328305a042001a35f", "8d0193e328305a042001a3…
$ Sexo               <int> 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, …
$ Edad               <int> 38, 3, 41, 3, 11, 53, 34, 64, 60, 50, 71, 38, 43, 3…
$ JefeHogar          <int> 2, 3, 1, 3, 3, 5, 3, 1, 2, 2, 5, 1, 1, 4, 3, 4, 2, …
$ FormalSalud        <int> 1, NA, 1, NA, NA, 1, 1, 1, 1, 1, 1, 2, 1, NA, 1, NA…
$ SeguridadSocial    <int> 1, NA, 1, NA, NA, 3, 3, 1, 1, 1, 1, NA, 3, NA, 3, N…
$ maxEducLevel       <int> 3, 2, 5, 2, 4, 1, 1, 4, 3, 4, 3, 6, 3, 2, 6, NA, 3,…
$ relab              <int> 1, NA, 1, NA, NA, NA, NA, NA, NA, 4, NA, NA, 5, NA,…
$ SubsAlimen         <int> 2, NA, 2, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ SubsTrans          <int> 1, NA, 1, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ SubsFamil          <int> 1, NA, 1, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ SubsEducativo      <int> 2, NA, 2, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ Viaticos           <int> 2, NA, 2, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ Bonificaciones     <int> 2, NA, 2, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ hoursWorkUsual     <int> 48, NA, 60, NA, NA, NA, NA, NA, NA, 60, NA, NA, 50,…
$ sizeFirm           <int> 4, NA, 9, NA, NA, NA, NA, NA, NA, 1, NA, NA, 2, NA,…
$ FormalPension      <int> 1, NA, 1, NA, NA, NA, NA, NA, NA, 2, NA, NA, 2, NA,…
$ MasHoras           <int> 2, NA, 2, NA, NA, NA, NA, NA, NA, 2, NA, NA, 2, NA,…
$ PagosExtraPensArri <int> 2, NA, 2, NA, NA, 2, 2, 1, 2, 1, 1, 1, 2, NA, 1, NA…
$ Ayuda              <int> NA, NA, 2, NA, NA, NA, NA, 2, NA, NA, 2, NA, NA, NA…
$ GanancFinan        <int> NA, NA, 2, NA, NA, NA, NA, 2, NA, NA, 2, NA, NA, NA…
$ EdadTrabajo        <int> 1, NA, 1, NA, NA, 1, 1, 1, 1, 1, 1, 1, 1, NA, 1, NA…
$ Ocu                <int> 1, NA, 1, NA, NA, NA, NA, NA, NA, 1, NA, NA, 1, NA,…
$ Desocu             <int> NA, NA, NA, NA, NA, NA, NA, 1, 1, NA, NA, NA, NA, N…
$ Inact              <int> NA, NA, NA, NA, NA, 1, 1, NA, NA, NA, 1, 1, NA, NA,…
$ Ingreso            <dbl> 1109190, NA, 1399140, NA, NA, 0, 0, 645000, 0, 1500…

Base de datos test_personas

In [22]:
test_personas <- read.csv('/content/test_personas.csv')
test_personas <- test_personas %>% select('id', 'P6020', 'P6040', 'P6050', 'P6090', 'P6100', 'P6210', 'P6430', 'P6585s1', 'P6585s2', 'P6585s3', 'P6585s4', 'P6630s4', 'P6630s6', 'P6800', 'P6870', 'P6920', 'P7090', 'P7495', 'P7510s3', 'P7510s5', 'Pet', 'Oc', 'Des', 'Ina')
test_personas <- test_personas %>% rename(Sexo = P6020, Edad = P6040, JefeHogar = P6050, FormalSalud = P6090, SeguridadSocial = P6100, maxEducLevel = P6210, relab = P6430, SubsAlimen = P6585s1, SubsTrans = P6585s2, SubsFamil = P6585s3, SubsEducativo = P6585s4, Viaticos = P6630s4, Bonificaciones = P6630s6, hoursWorkUsual = P6800, sizeFirm = P6870, FormalPension = P6920, MasHoras = P7090, PagosExtraPensArri = P7495, Ayuda = P7510s3, GanancFinan = P7510s5, EdadTrabajo = Pet, Ocu = Oc, Desocu = Des, Inact = Ina)
glimpse(test_personas)

Rows: 219,644
Columns: 25
$ id                 <chr> "3279230a4917cdf883df34cd", "3279230a4917cdf883df34…
$ Sexo               <int> 1, 2, 2, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 2, …
$ Edad               <int> 33, 7, 37, 5, 27, 24, 51, 20, 54, 29, 1, 25, 7, 10,…
$ JefeHogar          <int> 1, 3, 2, 3, 1, 2, 2, 3, 1, 1, 3, 2, 3, 4, 3, 3, 1, …
$ FormalSalud        <int> 1, NA, 1, NA, 1, 1, 1, 1, 1, 1, NA, 1, NA, NA, 1, 1…
$ SeguridadSocial    <int> 1, NA, 1, NA, 1, 1, 1, 1, 1, 3, NA, 3, NA, NA, 1, 3…
$ maxEducLevel       <int> 6, 3, 6, 2, 5, 6, 3, 5, 3, 5, NA, 6, 3, 3, 5, 6, 3,…
$ relab              <int> 1, NA, 3, NA, 4, 1, NA, 1, 1, 4, NA, NA, NA, NA, 1,…
$ SubsAlimen         <int> 2, NA, 2, NA, NA, 2, NA, 2, 2, NA, NA, NA, NA, NA, …
$ SubsTrans          <int> 2, NA, 2, NA, NA, 2, NA, 1, 1, NA, NA, NA, NA, NA, …
$ SubsFamil          <int> 2, NA, 2, NA, NA, 2, NA, 2, 2, NA, NA, NA, NA, NA, …
$ SubsEducativo      <int> 2, NA, 2, NA, NA, 2, NA, 2, 2, NA, NA, NA, NA, NA, …
$ Viaticos           <int> 2, NA, 2, NA, NA, 2, NA, 2, 2, NA, NA, NA, NA, NA, …
$ Bonificaciones     <int> 2, NA, 2, NA, NA, 2, NA, 2, 2, NA, NA, NA, NA, NA, …
$ hoursWorkUsual     <int> 50, NA, 8, NA, 48, 48, NA, 48, 48, 60, NA, NA, NA, …
$ sizeFirm           <int> 7, NA, 1, NA, 1, 8, NA, 4, 4, 1, NA, NA, NA, NA, 4,…
$ FormalPension      <int> 1, NA, 2, NA, 2, 1, NA, 1, 1, 2, NA, NA, NA, NA, 2,…
$ MasHoras           <int> 2, NA, 1, NA, 2, 2, NA, 2, 2, 2, NA, NA, NA, NA, 2,…
$ PagosExtraPensArri <int> 2, NA, 2, NA, 1, 2, 2, 2, 2, 2, NA, 2, NA, NA, 2, 2…
$ Ayuda              <int> NA, NA, NA, NA, NA, 2, NA, 2, 2, 1, NA, NA, NA, NA,…
$ GanancFinan        <int> NA, NA, NA, NA, NA, 2, NA, 2, 2, 2, NA, NA, NA, NA,…
$ EdadTrabajo        <int> 1, NA, 1, NA, 1, 1, 1, 1, 1, 1, NA, 1, NA, NA, 1, 1…
$ Ocu                <int> 1, NA, 1, NA, 1, 1, NA, 1, 1, 1, NA, NA, NA, NA, 1,…
$ Desocu             <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ Inact              <int> NA, NA, NA, NA, NA, NA, 1, NA, NA, NA, NA, 1, NA, N…

Exportar bases de datos

In [24]:
write.csv(train_hogares, file='train_hogares_1.csv')
write.csv(test_hogares, file='test_hogares_1.csv')
write.csv(train_personas, file='train_personas_1.csv')
write.csv(test_personas, file='test_personas_1.csv')